/*----------- 
# TYPOGRAPHY 
------------*/

h1 {
  font-family: "Tiempos Fine", serif;
  font-size: 52.5px;
  letter-spacing: 1px;
}

h1.type__hero {
  font-size: 67.5px
}

h2,
h3 {
  font-family: "Berlingske Serif", serif;
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 25.5px;
}

h3.type__leader {
  font-family: "Avenir LT Std", sans-serif;
}

h4 {
  font-family: "Berlingske Serif", serif;
  font-size: 15.75px;
  font-weight: bold;
}

h5,
h6,
.type__caption {
  font-family: "Avenir LT Std", sans-serif;
  font-weight: 500;
  font-size: 11.25px;
}

small,
.type__small {
  font-family: "Avenir LT Std", sans-serif;
  font-weight: 500;
  font-size: 13.5px;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

html,
body {
  font-family: "Avenir LT Std", sans-serif;
  font-size: 15px;
}

/*----------- 
# GENERAL 
------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

/*----------- 
# NAVIGATION
------------*/
section[role="navigation"] {
  width: 1650px;
  max-width: 100%;
  position: absolute;
  margin: auto;
  padding: 0 2em;
  top: 50px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section[role="navigation"] > .custom-logo-link {
  display: inline-block;
}

section[role="navigation"] > .custom-logo-link > img {
  width: 220px;
  max-width: 100%;
}

section[role="navigation"] > nav {
  color: white;
}

section[role="navigation"] > nav > ul > li {
  display: inline-block;
  position: relative;
  padding: 7px 10px;
}

section[role="navigation"] > nav > ul > li:not(:last-child) a::after {
  content: "";
  width: 1px;
  height: 60px;
  position: absolute;
  right: 0;
  top: -50%;
  background-color: #F6AE2D;
}
